
.addbutton {
	border-radius: 2em;
	margin-bottom: 2em;
	font-size: 1.3em;
	width : 6em;
	margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
	background-color: #000080;
	border-color: white;
}
.addmuscle {
	border-radius: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.3em;
	width : 6em;
	margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
	background-color: #000080;
	border-color: white;
}
.addexercise {
	border-radius: 2em;
	margin-top: 2em;
	margin-bottom: 3em;

	color: white;
	background-color: #000080;
	border-color: white;
}

.addset{
	font-size: 1.5em;
	margin-left: 0.5em;
	color: #000080;
	display: inline-block;
	cursor: pointer;
}

.addset button{
	border-radius:10em;
	color: #000080;
	background: none;
	border: none;

}

.back {
	border-radius: 2em;
	margin-bottom: 2em;
	color: white;
	background-color: #000080;
	border-color: white;
}


.nonauth{
	display: inline-block;

	border-radius: 2em;
	color: white;
	background-color: #000080;
	border-color: white;
	height: 2em;
	width: 5em;
	font-size: 1.5em;
}

.close {
	display: inline-block;
	margin-top: 1em;
	width: 93%;
}

.close p {
	text-align: center;
	color : black;
	opacity: 1.0;
	font-size: 1.5em;
}
