
.addbutton {
	border-radius: 2em;
	margin-bottom: 2em;
	font-size: 1.3em;
	width : 6em;
	margin-left: auto;
    margin-right: auto;
    display: block;

    color: red;
	background-color: black;
	border-color: red;
}
.addmuscle {
	border-radius: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.3em;
	width : 6em;
	margin-left: auto;
    margin-right: auto;
    display: block;


    color: red;
	background-color: black;
	border-color: red;
}
.addexercise {
	border-radius: 2em;
	margin-top: 2em;
	margin-bottom: 3em;
	width : 7.5em;

	color: red;
	background-color: black;
	border-color: red;
}

.addset{
	font-size: 1.0em;
	margin-bottom: 1em;
	margin-left: 1em;
	color: red;
	display: inline-block;
}

.addset button{
	border-radius:10em;
	color: red;
	background-color: black;
	border-color: red;
}

.back {
	border-radius: 2em;
	margin-bottom: 2em;
	color: red;
	background-color: black;
	border-color: red;
}


.close {
	display: inline-block;
	margin-top: 1em;
	width: 93%;
}

.close p {
	text-align: center;
	color : black;
	opacity: 1.0;
	font-size: 1.5em;
}
