.addExerciseButton { 
	background: transparent;
	border: none;
	color: blue;
 }

 .exerciseList{
 	background: rgba(200, 200, 200,0.2);
 	border-radius: 5px;
	border : solid;
	border-width: 0.085em;
	border-color : rgba(0, 0, 0,0.7);
	width: 18em;
	height: 2.2em;
	cursor: pointer;
 }

 .exerciseList p {
 		text-align: center;
	    position: relative;
	    top: 50%;
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
 }

 .searchicon h1{
 	font-size: 1em;
 	display: inline-block;
 }

 .searchbar {
 	width: 17em;
 	border-radius: 8px;
 	border-color: black;
 	margin-bottom: 0.5em;
 }