.root {display :inline-block;}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.muscleborder{
	border-bottom-style: solid;

}

.titleborder{
	border-top-style: solid;
}
.weighttitleborder{
	border-top-style: solid;
}

.lists{
	list-style-type: none;
	margin : auto;
	font-size: 2em;
	margin: 13px 0px 13px 0px;
}
.red{
	color:red;
}

.hidden{
	display: none;
}

.noList{
	list-style: none;
}

.exlist{
	display: inline-block;
	width: 93%;

}
