.root {display :inline-block;}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.muscleborder{
	border-bottom-style: solid;
}



.titleborder{
	border-top-style: solid;
}
.weighttitleborder{
	border-top-style: solid;
}

.red{
	color:red;
}

.hidden{
	display: none;
}

.noList{
	list-style: none;
}

.exlist{
	display: inline-block;
	width: 93%;

}
