

.titles h1{
	color: #000080;
	text-shadow: 0.003em 0.003em 0.003em white;
	text-align: center;
	font-weight: normal;
	font-family: "serif";
	font-size: 2.75em;
	margin-bottom: 0.5em;

}

.regtitle h1{
	color: #000080;
	text-shadow: 0.003em 0.003em 0.003em white;
	text-align: center;
	font-weight: normal;
	font-family: "serif";
	font-size: 2.75em;

}

.exercisetitle{
	display: inline-block;
	width:100%;
}

.all{
	width:100%;
}




.exercisetitle h3{
	float:left;
	font-size: 1.5em;
	font-family: "serif";
	color:black;
	text-align: left;
	border-color: black;
	border-bottom-style: solid;
	border-width: 0.01em;
}

.exercisetitle h1{
	float:left;
	font-size: 1.5em;
	font-family: "serif";
	color:black;
	text-align: left;
	border-color: black;
	border-bottom-style: solid;
	border-width: 0.01em;
	width: 70%;
}

.exercisetitle h2{
	font-size: 1.5em;
	float:right;
	font-family: "serif";
	color:black;	
	text-align: right;
	color: #000080;
	cursor: pointer;
}


.muscletitle h1{
	text-align: left;
	color: #000080;
	font-size: 2.75em;
	display: inline-block;
	margin-bottom: 0em;
	font-family: "serif";
	font-weight: normal;
	

}