

.titles h1{
	color: #000080;
	text-shadow: 0.003em 0.003em 0.003em white;
	text-align: center;
	font-weight: normal;
	font-family: "serif";
	font-size: 3em;
	margin-bottom: 0.5em;

}

.regtitle h1{
	color: #000080;
	text-shadow: 0.003em 0.003em 0.003em white;
	text-align: center;
	font-weight: normal;
	font-family: "serif";
	font-size: 3em;

}

.exercisetitle{
	display: inline-block;
}
.exercisetitle h1{
	font-size: 1.4em;
	font-family: "serif";
	color:black;
	text-align: left;

}


.muscletitle h1{
	font-size: 2.75em;
	display: inline-block;
	margin-bottom: 0em;
	font-family: "serif";
	color:black;
	font-weight: normal;
	text-align: left;
}