.weight{
	display: inline-block;
	width: 3.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-radius: 2em;
	background-color: #000080;
	color: white;
}


.unit {
	display: inline-block;
	border-radius: 5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	background-color: #000080;
	color: white;
	text-align: center;
}

.ticked{
	display: inline-block;
	margin-left: 0.5em;
	cursor: pointer;
}

.tickle{
      visibility:hidden;
    }
